body {
  background-color: #808080;
}
header {
  width: 960px;
  height: 100px;
  background-color: #c1db28;
  margin: auto;
}
header .logo {
  float: left;
  width: 200px;
  height: 100%;
}
header .logo img {
  width: 200px;
  height: 100%;
}
header .nav-light {
  background-color: white;
}
header .nav-light .btn-glass,
header .nav-light .nav-home {
  color: #2bcad0;
  background-color: rgba(43, 202, 208, 0);
}
header .nav-light .btn-glass:hover,
header .nav-light .nav-home:hover {
  color: rgba(255, 255, 255, 0.7);
  border-color: #1e8c91;
  background-color: #2bcad0;
}
header .nav-light .btn-glass:active,
header .nav-light .nav-home:active {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1em 0.5ex rgba(43, 202, 208, 0.5);
}
header .nav-light .btn-glass,
header .nav-light .nav-genres {
  color: #2bcad0;
  background-color: rgba(43, 202, 208, 0);
}
header .nav-light .btn-glass:hover,
header .nav-light .nav-genres:hover {
  color: rgba(255, 255, 255, 0.7);
  border-color: #1e8c91;
  background-color: #2bcad0;
}
header .nav-light .btn-glass:active,
header .nav-light .nav-genres:active {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1em 0.5ex rgba(43, 202, 208, 0.5);
}
header .nav-light .nav-home {
  margin-left: 130px;
}
header .nav-light .nav-home,
header .nav-light .nav-genres {
  float: left;
  width: 200px;
  height: 100%;
  line-height: 100px;
  vertical-align: bottom;
}
header .nav-light .nav-home a,
header .nav-light .nav-genres a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
header .nav-light .btn-glass {
  text-align: center;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.98pt;
  text-transform: uppercase;
  transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
  position: relative;
  background-attachment: fixed, scroll;
  background-size: 100vw 100vh, cover;
  background-position: center center, 0 0;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0) 110%);
}
header .nav-light .btn-glass:hover {
  background-position: -100vw 0, 0 0;
}
header .nav-light .btn-glass:active {
  background-position: -75vw 0, 0 0;
  border-style: solid;
}
.main {
  width: 960px;
  height: 900px;
  margin: auto;
  margin-top: 10px;
}
.main .upper {
  width: 100%;
  height: 600px;
  background-color: #949899;
}
.main .upper .upper-left {
  float: left;
  width: 150px;
  height: 600px;
}
.main .upper .upper-left h2 {
  font-size: 24px;
}
.main .upper .upper-left .genres {
  list-style: none;
}
.main .upper .upper-left .genres li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.main .upper .upper-right {
  width: 770px;
  height: 600px;
  overflow: auto;
  float: left;
  padding-left: 40px;
}
.main .upper .upper-right .track-list {
  border-collapse: collapse;
}
.main .upper .upper-right .track-list th {
  font-size: 15px;
  line-height: 30px;
  padding-right: 12px;
  background-color: #2bcad0;
}
.main .upper .upper-right .track-list .artwork img {
  width: 50px;
  height: 50px;
  color: #999;
}
.main .upper .upper-right .track-list tbody tr {
  background: #949899;
}
.main .upper .upper-right .track-list td span {
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  display: inline-block;
}
.main .upper .upper-right .track-list td i {
  font-size: 28px;
  color: #2bcad0;
  margin-left: 15px;
  vertical-align: -5px;
}
.main .upper .upper-right .track-list td i:hover {
  color: #c1db28;
  cursor: pointer;
}
.main .upper .upper-right .track-list td a {
  text-decoration: none;
  padding-left: 15px;
  color: #c1db28;
}
.main .search-bar {
  clear: both;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #2bcad0;
}
.main .search-bar div {
  height: 100%;
  float: left;
  text-align: center;
  line-height: 50px;
}
.main .search-bar div h3 {
  color: white;
}
.main .search-bar .search {
  float: right;
  width: 300px;
  height: 100%;
}
.main .lower .lower-left {
  width: 200px;
  height: 100%;
  float: left;
  background-color: #949899;
}
.main .lower .lower-left h2 {
  font-size: 24px;
}
.main .lower .lower-left .favorites {
  list-style: none;
}
.main .lower .lower-left .favorites li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.main .lower .lower-right {
  width: 760px;
  height: 100%;
  float: left;
  background-color: #949899;
}
.main .lower .lower-right .fav-view {
  clear: both;
}
.main .lower .lower-right .fav-view .song {
  width: 150px;
  height: 185px;
}
.main .lower .lower-right .fav-view .song .image {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 3px;
  padding: 5px;
  float: left;
}
