
  <div class="song">
    <img class="image" src="http://lorempixel.com/output/nightlife-q-c-600-600-5.jpg" alt="title">
    <div class="play-btn">
        <i class="fa fa-play-circle"></i>
    </div>
    <div class="title">
      <span>title 1</span>
    </div>
  </div><!--song-->