<h2>Genres</h2>

<li><a data-genre="blues" href="#" alt="blues">Blues</li>
<li><a data-genre="classical" href="#" alt="classical">Classical</li>
<li><a data-genre="country" href="#" alt="country">Country</li>
<li><a data-genre="dance" href="#" alt="dance">Dance</li>
<li><a data-genre="electronic" href="#" alt="electronic">Electronic</li>
<li><a data-genre="folk" href="#" alt="folk">Folk</li>
<li><a data-genre="jazz" href="#" alt="jazz">Jazz</li>
<li><a data-genre="latin" href="#" alt="latin">Latin</li>
<li><a data-genre="polka" href="#" alt="polka">Polka</li>
<li><a data-genre="pop" href="#" alt="pop">Pop</li>
<li><a data-genre="rap" href="#" alt="rap">Rap</li>
<li><a data-genre="rock" href="#" alt="rock">Rock</li>
<li><a data-genre="soundtrack" href="#" alt="soundtrack">Soundtrack</li>
<li><a data-genre="techno" href="#" alt="techno">Techno</li>

<li><p></p></li>
<li><a data-genre="50s" href="#" alt="50's">50s</li>
<li><a data-genre="60s" href="#" alt="60's">60s</li>
<li><a data-genre="70s" href="#" alt="70's">70s</li>
<li><a data-genre="80s" href="#" alt="80's">80s</li>
<li><a data-genre="90s" href="#" alt="90's">90s</li>