<li><a data-genre="pop" href="#" alt="pop">Pop</li>
<li><a data-genre="rock" href="#" alt="rock">Rock</li>
<li><a data-genre="folk" href="#" alt="folk">Folk</li>
<li><a data-genre="rap" href="#" alt="rap">Rap</li>
<li><a data-genre="country" href="#" alt="country">Country</li>
<li><a data-genre="80s" href="#" alt="80's">80s</li>