<div>
  <a class="nav-home btn-glass" data-name="home" href="/genres"><i class="fa fa-fw fa-lg fa-home "></i>Home</a>
</div>
<div>
  <a class="nav-genres btn-glass"data-name="genres" href="/genres"><i class="fa fa-fw fa-lg fa-headphones "></i>Genres</a>
</div>


