<div>
  <a class="nav-home btn-glass" data-name="home" href="/home"><i class="fa fa-fw fa-lg fa-home "></i>Home</a>
</div>
<div>
  <a class="nav-favorites btn-glass"data-name="favorites" href="/favorites"><i class="fa fa-fw fa-lg fa-headphones "></i>Favorites</a>
</div>
<div>
  <a class="nav-genre btn-glass"data-name="genre" href="/genre"><i class="fa fa-fw fa-lg fa-music "></i>Genre</a>
</div>


