<div>
  <a class="nav-home btn-glass" data-name="home" href="/home"><i class="fa fa-fw fa-lg fa-home "></i>Home</a>
</div>
<div>
  <a class="nav-songs btn-glass"data-name="songs" href="/songs"><i class="fa fa-fw fa-lg fa-headphones "></i>Songs</a>
</div>


