<div class="nav-btn1">
  <a data-name="home" href="/genres">Home</a>
</div>
<div class="nav-btn2">
  <a data-name="genres" href="/genres">Genres</a>
</div>
<div class="nav-btn2">
  <a data-name="crap" href="/search">Crap for now</a>
</div>


