<div class="search">
  <form class="search-form" action="" method="">
    <span></span>
    <input type = "text" class="search-field" name="search" placeholder="Enter Search Words">
    <input type = "submit" class = "search-button" name="submit"value="Search">
  </form>
</div>